services:
  lagrange:
    image: ghcr.nju.edu.cn/lagrangedev/lagrange.onebot:edge
    # pull_policy: always
    restart: always
    volumes:
      - ./bot:/app/data
    depends_on:
      - ws
    profiles: [lagrange]

  napcat:
    image: mlikiowa/napcat-docker:latest
    # pull_policy: always
    restart: always
    environment:
      - ACCOUNT=${ACCOUNT}
      - NAPCAT_UID=${UID}
      - NAPCAT_GID=${GID}
    volumes:
      - ./bot/.config/QQ:/app/.config/QQ
      - ./bot/napcat/config:/app/napcat/config
    depends_on:
      - ws
    profiles: [napcat]

  ws:
    image: python:3.12-slim
    restart: always
    command: bash -c "pip install -i https://pypi.tuna.tsinghua.edu.cn/simple -r requirements.txt && python server.py"
    working_dir: /app
    environment:
      TZ: "Asia/Shanghai"
      ENV: ${ENV}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      DOUBAO_API_KEY: ${DOUBAO_API_KEY}
      DOUBAO_MODEL: ${DOUBAO_MODEL}
    volumes:
      - ./ws:/app
    ports:
      - 127.0.0.1:8811:8000

  python:
    build: 
      context: ./python
    restart: always
    environment:
      TZ: "Asia/Shanghai"
      # SANIC_KEEP_ALIVE: False
      SANIC_REQUEST_TIMEOUT: 10
      SANIC_RESPONSE_TIMEOUT: 10
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1024M
      restart_policy:
        condition: on-failure
