<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="https://python-abc.xyz/qqbot/static/img/logo.png">
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus@2.7.7/dist/index.css">
    <script src="https://unpkg.com/element-plus@2.7.7/dist/index.full.min.js"></script>
    <script src="https://unpkg.com/@element-plus/icons-vue@2.3.1/dist/index.iife.min.js"></script>
    <script src="https://unpkg.com/axios@1.7.7/dist/axios.min.js"></script>
    <title>WEBQQ</title>
  </head>
  <body>
    <div id="app">
      <el-tabs v-model="groupId" type="card" tab-position="left" closable @tab-remove="tabRemove" @tab-click="tabClick" style="height: 99%;">
        <el-tab-pane v-for="(item, key) in msgs" :key="key" :label="key" :name="key">
          <template #label>
            <el-badge :is-dot="msgNew[key]">
              <el-text size="small" :type="groupId == key ? 'primary' : ''" style="width: 100px;" truncated :title="key + '\n' + groups[key]">{{ groups[key] }}</el-text>
            </el-badge>
          </template>
          <el-scrollbar :ref="'scrollbar'+key" style="height: calc(100vh - 150px);" @click="contentClick">
            <div v-for="(msg, index) in item" :key="index" style="margin: 10px 0;">
              <div>
                <el-text type="primary" size="small" @click="nameClick(msg['sender'])" title="点击进行@" @mouseenter="show = true" @mouseLeave="show = false">{{ msg['sender']['nickname'] }}</el-text>
                <el-tag v-if="msg['sender']['role'] == 'admin'" type="warning" size="small" @mouseenter="show = true" @mouseLeave="show = false">管理员</el-tag>
                <el-tag v-else-if="msg['sender']['role'] == 'owner'" type="danger" size="small" @mouseenter="show = true" @mouseLeave="show = false">群主</el-tag>
                <el-tag v-if="msg['sender']['user_id'] == msg['self_id']" type="danger" size="small" @mouseenter="show = true" @mouseLeave="show = false">我自己</el-tag>
                <el-text v-if="show" size="small" @mouseenter="show = true" @mouseLeave="show = false">&nbsp;{{ msg['sender']['user_id'] }}</el-text>
                <el-text v-if="show" size="small">&nbsp;&nbsp;{{ formatTime(msg['time']) }}</el-text>
              </div>
              <div :style="msg['raw_message'].includes(msg['self_id']) ? 'background-color: #E3EDCD;' : ''">
                <template v-for="(message, index) in msg['message']" :key="index">
                  <el-text v-if="message['type'] == 'image'">
                    <el-link :href="message['data']['url']" target="_blank" type="success" :title="'点击后在新标签页中刷新一下'+'\n'+'鼠标点击地址栏链接，回车刷新'">{{ message['data']['summary'] }}</el-link>
                  </el-text>
                  <el-text v-else-if="message['type'] == 'text'">{{ message['data']['text'] }}</el-text>
                  <el-text v-else-if="message['type'] == 'at'" type="success">{{ message['data']['name'] }}</el-text>
                  <el-text v-else-if="message['type'] == 'reply'"><br />&nbsp;&nbsp;</el-text>
                  <el-text v-else-if="message['type'] == 'face'" type="success">[face:{{ message['data']['id'] }}]</el-text>
                  <el-text v-else-if="message['type'] == 'mface'" type="success">
                    <el-link :href="message['data']['url']" target="_blank" type="success">{{ message['data']['summary'] }}</el-link>
                  </el-text>
                  <el-text v-else>{{ message['type'] }}<br>{{ message['data'] }}</el-text>
                </template>
              </div>
            </div>
          </el-scrollbar>
          <div style="margin-top: 15px;">
            <el-input v-model="msg" type="textarea" :autosize="{ minRows: 3 }"></el-input>
            <el-button type="primary" plain :loading="loading" @click="sendMsg" title="Ctrl+Enter发送">发送</el-button>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </body>
</html>

<script>
  const App = {
    data() {
      return {
        groupId: null,
        sign: null,
        msg: null,
        msgs: {},
        groups: {},
        msgNew: {},
        lastMsgIds: {},
        loading: false,
        show: false,
      }
    },
    mounted() {
      setInterval(this.getMsgs, 10000)
      const _this = this
      document.onkeydown = function (e) {
        if ((e.ctrlKey || e.metaKey) && (e.keyCode == 13 || e.keyCode == 10)) {
          // 监听 Ctrl+Enter 和 ⌘ Command+Enter
          _this.sendMsg()
          // window.event.preventDefault(); //关闭浏览器默认快捷键
        }
      }
    },
    async created() {
      let params = new URL(document.location.toString()).searchParams;
      this.sign = params.get('sign')
      await this.getMsgs()
      this.groupId = Object.keys(this.msgs)[0]
      await this.getGroups()
    },
    methods: {
      formatTime(ts) {
        const date = new Date(ts * 1000).toLocaleString().split(' ')[1]
        return date
      },
      async getGroups() {
        try {
          const response = await axios.get(`/webqq/groups?sign=${this.sign}`);
          this.groups = response.data
        } catch (error) {
          console.error(error);
        }
      },
      async deleteGroup(groupId) {
        try {
          const response = await axios.delete(`/webqq/group/${groupId}?sign=${this.sign}`);
        } catch (error) {
          console.error(error);
        }
      },
      async getMsgs() {
        try {
          const response = await axios.get(`/webqq/msgs?sign=${this.sign}`);
          this.msgs = response.data
          let first = false
          if (Object.keys(this.lastMsgIds).length === 0) {
            first = true
          }
          for (const groupId in this.msgs) {
            const lastMsgId = this.msgs[groupId].at(-1)['message_id']
            if (first === true) {
              this.lastMsgIds[groupId] = lastMsgId
              this.msgNew[groupId] = false
              continue
            }
            if (groupId in this.lastMsgIds && this.lastMsgIds[groupId] == lastMsgId) {
              this.msgNew[groupId] = false
            } else {
              this.msgNew[groupId] = true
            }
          }
        } catch (error) {
          console.error(error);
        }
      },
      async sendMsg() {
        if (! this.msg) {
          return false
        }
        this.loading = true
        try {
          const params = {
            group_id: this.groupId,
            msg: this.msg,
          }
          const response = await axios.post(`/webqq/msgs?sign=${this.sign}`, params);
          this.msg = null
          await new Promise(r => setTimeout(r, 1000));
          await this.getMsgs()
          this.scrollToBottom(this.groupId)
        } catch (error) {
          console.error(error);
        }
        this.loading = false
      },
      scrollToBottom(groupId) {
        setTimeout(() => {
          const refkey = `scrollbar${groupId}`
          this.$refs[refkey][0].setScrollTop(9000);
        }, 50);
      },
      tabRemove(tabName) {
        const groupId = tabName
        delete this.msgs[groupId]
        if (this.groupId == groupId) {
          this.groupId = Object.keys(this.msgs)[0]
        }
        this.deleteGroup(groupId)
      },
      tabClick(tab) {
        const groupId = tab.props.name
        const lastMsgId = this.msgs[groupId].at(-1)['message_id']
        this.lastMsgIds[groupId] = lastMsgId
        this.msgNew[groupId] = false
        this.scrollToBottom(groupId)
      },
      contentClick() {
        const tab = {props: {name: this.groupId}}
        this.tabClick(tab)
      },
      nameClick(sender) {
        if (! this.msg) {
          this.msg = ''
        }
        this.msg += `[CQ:at,qq=${sender.user_id},name=@${sender.nickname}] `
      },
    },
  };
  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.mount("#app");
</script>
