<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <link rel="icon" href="https://python-abc.xyz/qqbot/static/img/logo.png">
    <script src="https://python-abc.xyz/static/vue.js"></script>
    <link rel="stylesheet" href="https://python-abc.xyz/static/element-plus.css">
    <script src="https://python-abc.xyz/static/element-plus.js"></script>
    <script src="https://python-abc.xyz/static/element-plus-icons.js"></script>
    <script src="https://python-abc.xyz/static/axios.js"></script>
    <!-- CodeMirror 核心 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/codemirror.min.js"></script>
    <!-- CodeMirror 样式 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/codemirror.min.css">
    <!-- Python 语法高亮 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/python/python.min.js"></script>
    <!-- 代码折叠 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/fold/foldcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/fold/foldgutter.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/fold/foldgutter.min.css">

    <script src="https://cdn.jsdelivr.net/npm/opencc-js@1.0.5/dist/umd/cn2t.js"></script>
    <script src="https://unpkg.com/pinyin-pro"></script>
    <title>WEBQQ</title>
  </head>
  <body>
    <div id="app" style="max-width: 900px; width: 100%; margin: 0 auto; margin-top: 30px;">
      <el-dialog v-model="xShow.plugin" title="代码编辑" draggable width="800" :close-on-click-modal="false" :close-on-press-escape="false" @opened="getFileData">
        <el-row gutter="5">
          <el-col :span="6" style="background-color: #eee">
            <el-tree :data="dirTree" :props="defaultProps" node-key="id"
              :default-expand-all="true"
              @node-click="clickTreeNode"
              style="background-color: #eee;"
            ></el-tree>
          </el-col>
          <el-col :span="18">
            <textarea ref="editor"></textarea>
          </el-col>
        </el-row>
        <template #footer>
          <div class="dialog-footer">
            <el-button @click="xShow.plugin = false">取消</el-button>
            <el-button type="primary" @click="submitCodeEdit">提交</el-button>
          </div>
        </template>
      </el-dialog>
      <el-dialog v-model="xShow.img" draggable width="fit-content">
        <img :src="imgUrl" style="max-width: 100%;" />
      </el-dialog>
      <el-dialog v-model="xShow.video" draggable width="fit-content">
        <video :src="videoUrl" style="max-width: 100%;" autoplay muted loop></video>
      </el-dialog>
      <el-tabs v-model="type" type="card" @tab-click="tabClickType">
        <el-tab-pane name="webqq">
          <template #label>
            <!-- <span style="font-size: 24px;">网页QQ</span> -->
            <span>chat</span>
          </template>
          <el-tabs v-model="groupId" type="border-card" tab-position="left" closable @tab-remove="tabRemove" @tab-click="tabClick" class="webqq-tabs">
            <el-tab-pane v-for="(item, key) in msgs" :key="key" :label="key" :name="key">
              <template #label>
                <el-badge :is-dot="msgNew[key]">
                  <el-text v-if="key in groups" size="small" :type="groupId == key ? 'primary' : ''" style="width: 80px;" truncated :title="key + '\n' + groups[key]['group_name'] + '\n' + groups[key]['member_count'] + '/' + groups[key]['max_member_count']">{{ groups[key]['group_name'] }}</el-text>
                  <el-text v-else size="small" :type="groupId == key ? 'primary' : ''" style="width: 80px;" truncated>{{ item[0]['sender']['nickname'] }}</el-text>
                </el-badge>
              </template>
              <el-scrollbar :ref="'scrollbar'+key" style="height: 410px;" @scroll="scroll" @click="scroll">
                <div v-for="(msg, index) in item" :key="index" style="margin: 10px 0;">
                  <el-divider border-style="dashed" content-position="left">
                    <el-text type="primary" size="small" @click="nameClick(msg['sender'])" title="点击进行@" @mouseenter="show = true" @mouseLeave="show = false">{{ '@' + msg['sender']['nickname'] }}</el-text>
                    <el-tag v-if="msg['sender']['role'] == 'admin'" type="warning" size="small" @mouseenter="show = true" @mouseLeave="show = false">管理员</el-tag>
                    <el-tag v-else-if="msg['sender']['role'] == 'owner'" type="danger" size="small" @mouseenter="show = true" @mouseLeave="show = false">群主</el-tag>
                    <el-tag v-if="msg['sender']['user_id'] == msg['self_id']" type="success" effect="plain" size="small" @mouseenter="show = true" @mouseLeave="show = false">我自己</el-tag>
                    <el-text v-if="show" size="small" @mouseenter="show = true" @mouseLeave="show = false">&nbsp;{{ msg['sender']['user_id'] }}</el-text>
                    <el-text v-if="show" size="small">&nbsp;&nbsp;{{ formatTime(msg['time']) }}</el-text>
                  </el-divider>
                  <div :style="msg['raw_message'].includes(msg['self_id']) ? 'background-color: #E3EDCD;' : ''" @mouseenter="funcShow[msg['message_id']] = true" @mouseLeave="funcShow[msg['message_id']] = false">
                    <template v-for="(message, index) in msg['message']" :key="index">
                      <el-text v-if="message['type'] == 'image'">
                        <img :src="message['data']['url']" style="max-width: 100px; max-height: 50px" @click="imgClick(message['data']['url'])" />
                      </el-text>
                      <el-text v-else-if="message['type'] == 'text'" style="white-space: pre-wrap;" v-html="handleMessage(message['data']['text'])"></el-text>
                      <el-text v-else-if="message['type'] == 'at'" type="success" @click="userAt(message['data'])" title="点击我也@TA">{{ message['data']['name'] || '@'+message['data']['qq'] }}</el-text>
                      <el-text v-else-if="message['type'] == 'reply'" type="info" @click="getReply(message['data']['id'])">[回复:{{ message['data']['id'] }}]</el-text>
                      <el-text v-else-if="message['type'] == 'face'">
                        <img :src="'static/img/qqface/'+message['data']['id']+'.png'" class="face" :title="'[face:'+message['data']['id']+']'" />
                      </el-text>
                      <el-text v-else-if="message['type'] == 'mface'" type="success">
                        <el-link :href="message['data']['url']" target="_blank" type="success">{{ message['data']['summary'] }}</el-link>
                      </el-text>
                      <el-text v-else-if="message['type'] == 'video'">
                        <video style="max-height: 100px;" autoplay muted loop @click="videoClick(message['data']['url'])">
                          <source :src="message['data']['url']" type="video/mp4">
                        </video>
                      </el-text>
                      <el-text v-else-if="message['type'] == 'record'">
                        <audio style="height: 30px;" muted controls>
                          <source :src="message['data']['url']" type="audio/mpeg">
                        </audio>
                      </el-text>
                      <el-text v-else-if="message['type'] == 'file'">
                        <el-button-group size="small">
                          <el-button plain disabled type="primary" icon="FolderOpened">{{ message['data']['file'] }}</el-button>
                          <el-button plain disabled type="">{{ Math.round(message['data']['file_size'] / 1024) }} KB</el-button>
                        </el-button-group>
                      </el-text>
                      <el-text v-else-if="message['type'] == 'forward'">
                        <el-descriptions title="" size="small" border :column="1" style="max-width: 600px;">
                          <el-descriptions-item v-for="(item, index) in message['data']['content']" :key="index" :label="item['sender']['nickname']">
                            <el-text style="width: 400px;" truncated>{{ item['raw_message'] }}</el-text>
                          </el-descriptions-item>
                        </el-descriptions>
                      </el-text>
                      <el-text v-else>
                        <el-popover placement="right" :width="600" trigger="click" :content="message['data']">
                          <template #reference>
                            <el-button style="" size="small">{{ message['type'] }}</el-button>
                          </template>
                        </el-popover>
                      </el-text>
                    </template>
                    <template v-if="funcShow[msg['message_id']]" style="height: 0;">
                      <el-button-group size="small">
                        <el-button type="success" plain style="padding: 0 1px; height: 14px;" icon="ChatDotRound" @click="msgReply(msg)">回复</el-button>
                        <el-button type="primary" plain style="padding: 0 1px; height: 14px;" icon="Delete" @click="msgDelete(msg)">撤回</el-button>
                        <el-button type="warning" plain style="padding: 0 1px; height: 14px;" icon="Lock" @click="msgBan(msg)">禁言</el-button>
                        <el-button type="danger" plain style="padding: 0 1px; height: 14px;" icon="TopRight" @click="msgKick(msg)">踢群</el-button>
                      </el-button-group>
                    </template>
                  </div>
                </div>
              </el-scrollbar>
              <div style="margin-top: 15px;">
                <el-input v-model="msg" type="textarea" :rows="3" placeholder="1.点击头像进行@; 2.可直接粘贴截图或图片; 3.按键 Ctrl+Enter 发送消息"></el-input>
                <el-button type="primary" plain :loading="loading" @click="sendMsg" title="Ctrl+Enter发送">
                  <div style="margin-top: 2px; margin-right: 3px;">发送</div>
                  <el-popover placement="top" width="auto" trigger="hover">
                    <template #reference>
                      <el-tag type="danger" size="small" round>{{ langType }}</el-tag>
                    </template>
                    <el-button size="small" plain type="primary" @click="langType = '简'">简体</el-button>
                    <el-button size="small" plain type="warning" @click="langType = '繁'">繁体</el-button>
                    <el-button size="small" plain type="danger" @click="langType = '拼'">拼音</el-button>
                  </el-popover>
                </el-button>
                <el-popover placement="top-start" :width="390" trigger="hover">
                  <template #reference>
                    <img src="static/img/emoji3d/88.png" style="width: 25px; height: 25px; margin-bottom: -10px; margin-left: 5px;" />
                  </template>
                  <el-text v-for="i in 144">
                    <img :src="'static/img/emoji3d/'+i+'.png'" style="width: 30px; height: 30px;" :title="i" @click="faceClick" />
                  </el-text>
                </el-popover>
                <el-popover placement="top-start" :width="420" trigger="hover">
                  <template #reference>
                    <img src="static/img/qqface/24.png" style="width: 25px; height: 25px; margin-bottom: -10px; margin-left: 5px;" />
                  </template>
                  <el-text v-for="i in qqfaces">
                    <img :onerror="faceError" :src="'static/img/qqface/'+i+'.png'" style="width: 30px; height: 30px;" :title="i" @click="faceClick" />
                  </el-text>
                </el-popover>
                <el-popover placement="top-start" :width="390" trigger="hover">
                  <template #reference>
                    <img :src="myfaces.at(-1)" style="width: 25px; height: 25px; margin-bottom: -10px; margin-left: 5px;" />
                  </template>
                  <el-text v-for="url in myfaces">
                    <img :onerror="faceError" :src="url" style="width: 30px; height: 30px;" @click="faceClick" />
                  </el-text>
                </el-popover>
              </div>
            </el-tab-pane>
          </el-tabs>
        </el-tab-pane>

        <el-tab-pane name="plugin">
          <template #label>
            <!-- <span style="font-size: 24px;">插件管理</span> -->
            <span>plugin</span>
          </template>
          <el-alert type="success" center show-icon :closable="false" style="">
            <template #title>
              <el-text>插件市场中还有一些可用的插件供选择使用：</el-text>
              <a href="https://python-abc.xyz/qqbot/plugin/store" target="_blank">点击访问</a>
            </template>
          </el-alert>
          <el-row style="margin: 10px 0;">
            <el-dropdown trigger="click" @command="handleCommandStore">
              <el-button plain type="primary" icon="CirclePlus">从插件市场直接导入</el-button>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item v-for="item in pluginsStore" :key="item.name" :command="item.fpath">{{ item.name }}</el-dropdown-item>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
            <el-button plain type="primary" icon="Refresh" @click="refreshPlugins" style="margin-left: 5px;">刷新插件列表</el-button>
          </el-row>
          <el-table :data="plugins" border style="width: 100%; height: 465px;" :cell-style="{'font-size': '14px'}">
            <el-table-column type="index" label="#" width="45"></el-table-column>
            <el-table-column prop="name" label="插件目录" min-width="120">
              <template #default="scope">
                <el-popover effect="dark" trigger="hover" placement="right" width="auto">
                  <template #default>
                    <div style="white-space: pre;">插件目录结构：<br>{{ scope.row.tree }}</div>
                  </template>
                  <template #reference>
                    <el-text :type="scope.row.is_open ? 'primary' : 'info'">{{ scope.row.name }}</el-text>
                  </template>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column prop="is_open" label="开关" width="70">
              <template #default="scope">
                <el-popconfirm title="调整后会立即生效，继续吗？" @confirm="changeOpen(scope.row.name)" @cancel="changeCancel(scope.row)" width="auto">
                  <template #reference>
                    <el-switch v-model="scope.row.is_open" size="small" inline-prompt active-text="开启" inactive-text="关闭"></el-switch>
                  </template>
                </el-popconfirm>
              </template>
            </el-table-column>
            <el-table-column prop="type" label="类型" width="70">
              <template #default="scope">
                <el-tag v-if="scope.row.type == 'message'" type="primary" :title="scope.row.type">消息</el-tag>
                <el-tag v-if="scope.row.type == 'notice'" type="success" :title="scope.row.type">事件</el-tag>
                <el-tag v-if="scope.row.type == 'cron'" type="danger" :title="scope.row.type">定时</el-tag>
              </template>
            </el-table-column>
            <el-table-column prop="desc" label="介绍" min-width="150">
              <template #default="scope">
                <el-text type="">{{ scope.row.desc }}</el-text>
              </template>
            </el-table-column>
            <el-table-column prop="" label="上次运行时间">
              <template #default="scope">
                <el-text type="">{{ timeAgo(scope.row.last_run) }}</el-text>
              </template>
            </el-table-column>
            <el-table-column prop="" label="运行次数" width="90">
              <template #default="scope">
                <el-text type="">{{ scope.row.run_times }}</el-text>
              </template>
            </el-table-column>
            <el-table-column prop="" label="操作" width="60">
              <template #default="scope">
                <!-- <el-link :underline="false" type="primary" @click="editCode(scope.row.name)">详情</el-link> -->
                <el-dropdown @command="handleCommand(scope.row, $event)">
                  <el-link :underline="false" type="primary">管理</el-link>
                  <template #dropdown>
                    <el-dropdown-menu>
                      <el-dropdown-item icon="Edit" command="edit">编辑</el-dropdown-item>
                      <el-dropdown-item icon="RefreshRight" command="reload">重载</el-dropdown-item>
                      <el-dropdown-item icon="Delete" command="delete" divided>删除</el-dropdown-item>
                    </el-dropdown-menu>
                  </template>
                </el-dropdown>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </div>
  </body>
</html>

<script>
  const App = {
    data() {
      return {
        type: 'webqq',
        groupId: null,
        sign: null,
        qqfaces: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 49, 53, 56, 59, 60, 63, 64, 66, 67, 74, 75, 76, 77, 78, 79, 85, 86, 89, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 114, 116, 118, 119, 120, 121, 123, 124, 125, 129, 137, 144, 146, 147, 169, 171, 172, 173, 174, 175, 176, 177, 178, 179, 181, 182, 183, 185, 187, 201, 212, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 277, 281, 282, 283, 284, 285, 286, 287, 289, 293, 294, 295, 297, 298, 299, 300, 302, 303, 305, 306, 307, 311, 312, 314, 317, 318, 319, 320, 323, 324, 325, 326, 332, 333, 334, 336, 337, 338, 339, 341, 342, 343, 344, 345, 346, 347, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 392, 393, 394, 395],
        msg: null,
        msgs: {},
        groups: {},
        myfaces: [],
        msgNew: {},
        lastMsgIds: {},
        loading: false,
        show: false,
        funcShow: {},
        xShow: {},
        imgUrl: null,
        videoUrl: null,
        cnt: 0,
        timer: null,
        plugins: [],
        codeContent: null,
        codePath: 'main.py',
        currentPlugin: null,
        dirTree: [],
        defaultProps: {
          children: 'children',
          label: 'label',
        },
        pluginsStore: [],
        langType: '简',
      }
    },
    mounted() {
      const _this = this
      this.timer = setInterval(this.getMsgs, 5000)
      // 快捷键发送消息
      document.onkeydown = function (e) {
        if ((e.ctrlKey || e.metaKey || e.shiftKey) && (e.keyCode == 13 || e.keyCode == 10)) {
          // 监听 Ctrl+Enter 和 ⌘ Command+Enter
          _this.sendMsg()
          // window.event.preventDefault(); //关闭浏览器默认快捷键
        }
      }
      // 粘贴图片，支持截图 https://juejin.cn/post/7366193593168642098
      document.addEventListener('paste', (event) => {
        let clipboardData, pastedData;
        if (! _this.msg) {
          _this.msg = ''
        }
        // 防止默认行为
        event.preventDefault();
        // 使用事件对象的clipboardData对象获取剪切板数据
        clipboardData = event.clipboardData || window.clipboardData;
        if (clipboardData.types && clipboardData.types.length) {
          if (clipboardData.types.includes('text/plain')) {
            pastedData = clipboardData.getData('Text');
            _this.msg += pastedData
          } else if (clipboardData.types.includes('Files') && clipboardData.files && clipboardData.files.length) {
            const reader = new FileReader();
            // 文件读取成功完成后的处理
            reader.onload = (e) => {
              pastedData = e.target.result;
              // 在这里使用base64String，例如可以将其设置为图片的src
              let _msg = pastedData.split(',')[1]
              _this.msg += `[CQ:image,file=base64://${_msg}]`
            };
            // 以DataURL的形式读取文件
            reader.readAsDataURL(clipboardData.files[0]);
          }
        }
      });
    },
    async created() {
      let params = new URL(document.location.toString()).searchParams;
      this.sign = params.get('sign')
      await this.getMsgs()
      this.groupId = Object.keys(this.msgs)[0]
      await this.getGroups()
      await this.getMyFaces()
      // await this.getPlugins()
      // await this.getPluginsStore()
    },
    methods: {
      convertText(text) {
        const regex = /\[.*?\]|[\u4e00-\u9fa5]+|\d+|\s+|[^\u4e00-\u9fa5\d\s\[\]]+/g;
        const result = [];

        let match;
        while ((match = regex.exec(text)) !== null) {
          const token = match[0];

          if (/^\[.*\]$/.test(token)) {
            result.push(token);
          } else if (/^[\u4e00-\u9fa5]+$/.test(token)) {
            result.push(pinyinPro.pinyin(token));
          } else {
            result.push(token);
          }
        }

        return result.join('');
      },
      handleCommandStore(command){
        this.postPlugins({'fpath': command})
        this.getPlugins()
      },
      handleCommand(row, command) {
        if (command == 'edit') {
          this.editCode(row.name)
        } else if (command == 'reload') {
          this.updatePlugin(row.name, {action: 'reload'})
        } else if (command == 'delete') {
          this.$confirm(`是否确认删除 ${row.name}？（会直接删除插件目录）`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.deletePlugin(row.name)
            this.getPlugins()
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消'
            });
          });
        }
      },
      submitCodeEdit() {
        const data = {action: 'code', fpath: this.codePath, code: this.$editor.getValue()}
        this.updatePlugin(this.currentPlugin, data)
        this.xShow.plugin = false
      },
      clickTreeNode(node) {
        if (! node.children) {
          this.codePath = node.id
          this.getFileData()
        }
      },
      async getFileData() {
        if (! this.$editor){
          this.$editor = CodeMirror.fromTextArea(this.$refs.editor, {
            mode: "python",           // Python 语法
            theme: "default",         // 主题
            lineNumbers: true,        // 行号
            matchBrackets: true,      // 括号匹配
            autoCloseBrackets: true,  // 自动补全括号
            foldGutter: true,         // 代码折叠
            fontFamily: "monospace",  // 设置等宽字体
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
          });
          this.$editor.setSize(null, 390);
        }
        await this.getPluginFile(this.currentPlugin, {'fpath': this.codePath})
        this.$editor.setValue(this.codeContent);
      },
      editCode(name) {
        this.xShow.plugin = true
        this.codePath = 'main.py'
        this.currentPlugin = name
        // this.getFileData()
      },
      timeAgo(timestamp) {
        if (! timestamp) {
          return null
        }
        timestamp *= 1000
        const now = Date.now();
        const diff = Math.floor((now - timestamp) / 1000); // 转换为秒

        if (diff < 60) return `${diff} 秒前`;
        if (diff < 3600) return `${Math.floor(diff / 60)} 分钟前`;
        if (diff < 86400) return `${Math.floor(diff / 3600)} 小时前`;
        if (diff < 2592000) return `${Math.floor(diff / 86400)} 天前`;

        return new Date(timestamp).toLocaleDateString(); // 超过 30 天，显示日期
      },
      changeCancel(row) {
        row.is_open = !row.is_open
      },
      refreshPlugins() {
        this.getPlugins()
        this.$notify({
          type: 'success',
          title: '操作提示',
          message: '刷新完成',
          duration: 2000,
        })
      },
      async getPluginFile(name, data) {
        try {
          const ret = await axios.get(`plugins/${name}?sign=${this.sign}`, {params: data});
          this.codeContent = ret.data.fdata
          this.dirTree = ret.data.dir_tree
        } catch (error) {
          console.error(error);
        }
      },
      async getPlugins() {
        try {
          const response = await axios.get(`plugins?sign=${this.sign}`);
          this.plugins = response.data
        } catch (error) {
          console.error(error);
        }
      },
      async postPlugins(data) {
        try {
          await axios.post(`plugins?sign=${this.sign}`, data);
          this.$notify({
            type: 'success',
            title: '操作提示',
            message: '操作成功',
            duration: 2000,
          })
        } catch (error) {
          console.error(error);
        }
      },
      async updatePlugin(name, data) {
        try {
          await axios.put(`plugins/${name}?sign=${this.sign}`, data);
          this.$notify({
            type: 'success',
            title: '操作提示',
            message: '操作成功',
            duration: 2000,
          })
        } catch (error) {
          console.error(error);
        }
      },
      async deletePlugin(name) {
        try {
          await axios.delete(`plugins/${name}?sign=${this.sign}`);
        } catch (error) {
          console.error(error);
        }
      },
      async getPluginsStore() {
        try {
          const response = await axios.get(`plugins/store?sign=${this.sign}`);
          this.pluginsStore = response.data
        } catch (error) {
          console.error(error);
        }
      },
      changeOpen(name) {
        const data = {action: 'is_open'}
        this.updatePlugin(name, data)
      },
      imgClick(url) {
        this.xShow.img = true
        this.imgUrl = url
      },
      videoClick(url) {
        this.xShow.video = true
        this.videoUrl = url
      },
      faceError(ev) {
        const img = ev.target
        img.style.display = 'none'
        img.onerror = null
      },
      faceClick(ev) {
        const url = ev.target.src
        if (! this.msg) {
          this.msg = ''
        }
        this.msg += `[CQ:image,url=${url}]`
      },
      formatTime(ts) {
        const date = new Date(ts * 1000).toLocaleString().split(' ')[1]
        return date
      },
      handleMessage(text) {
        text = text.replaceAll('<', '&lt;')
        text = text.replaceAll('>', '&gt;')
        const reg= /(https?|http|ftp|file):\/\/[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]/g;
        let urls = text.match(reg) || []
        urls = Array.from(new Set(urls))  // 去重
        for (let url of urls) {
          text = text.replaceAll(url, `<a href="${url}" target="_blank">${url}</a>`)
        }
        return text
      },
      async getMyFaces() {
        try {
          const response = await axios.get(`myfaces?sign=${this.sign}`);
          this.myfaces = response.data
          this.myfaces.reverse()
        } catch (error) {
          console.error(error);
        }
      },
      async getGroups() {
        try {
          const response = await axios.get(`groups?sign=${this.sign}`);
          this.groups = response.data
        } catch (error) {
          console.error(error);
        }
      },
      async deleteGroup(groupId) {
        try {
          delete this.lastMsgIds[groupId]
          const response = await axios.delete(`groups/${groupId}?sign=${this.sign}`);
        } catch (error) {
          console.error(error);
        }
      },
      async postAction(data) {
        try {
          await axios.post(`action?sign=${this.sign}`, data);
          this.$notify({
            type: 'success',
            title: '操作提示',
            message: '操作成功',
            duration: 2000,
          })
        } catch (error) {
          console.error(error);
        }
      },
      async getMsgs() {
        try {
          const params = {
            last_msg_ids: this.lastMsgIds,
          }
          const response = await axios.post(`msgs?sign=${this.sign}`, params);
          let first = false
          if (Object.keys(this.lastMsgIds).length === 0) {
            first = true
          }
          for (const groupId in response.data) {
            if (groupId in this.msgs) {
              this.msgs[groupId] = this.msgs[groupId].concat(response.data[groupId])
            } else {
              this.msgs[groupId] = response.data[groupId]
            }
            const lastMsgId = this.msgs[groupId].at(-1)['message_id']
            this.lastMsgIds[groupId] = lastMsgId
            if (first === true) {
              this.msgNew[groupId] = false
            } else {
              this.msgNew[groupId] = true
            }
          }
          if (this.msgs.length >= 50) {
            this.msgs.splice(0, 30)
          }
        } catch (error) {
          console.error(error);
        }
        this.cnt += 1
        if (this.cnt >= 10) {
          clearInterval(this.timer)
          this.timer = setInterval(this.getMsgs, 5000)
          this.cnt = 0
        }
      },
      async sendMsg() {
        if (! this.msg) {
          return false
        }
        if (this.msg == '\\qxx') {
          this.msg = `${this.groupId}\n${this.groups[this.groupId]['group_name']}`
          return false
        }
        if (!this.msg.startsWith("\\")) {
          if (this.langType == '繁') {
            const converter = OpenCC.Converter({ from: 'cn', to: 'tw' });
            this.msg = converter(this.msg)
          } else if (this.langType == '拼') {
            this.msg = this.convertText(this.msg)
          }
        }
        this.loading = true
        try {
          const params = {
            group_id: this.groupId,
            msg: this.msg,
          }
          const response = await axios.post(`msgs?sign=${this.sign}`, params);
          this.msg = null
          await new Promise(r => setTimeout(r, 1000));
          await this.getMsgs()
          this.scrollToBottom(this.groupId)
        } catch (error) {
          console.error(error);
        }
        this.loading = false
      },
      scroll() {
        this.msgNew[this.groupId] = false
      },
      scrollToBottom(groupId) {
        setTimeout(() => {
          const refkey = `scrollbar${groupId}`
          this.$refs[refkey][0].setScrollTop(99999);
        }, 50);
      },
      tabRemove(tabName) {
        const groupId = tabName
        delete this.msgs[groupId]
        if (this.groupId == groupId) {
          this.groupId = Object.keys(this.msgs)[0]
        }
        this.deleteGroup(groupId)
      },
      tabClick(tab) {
        const groupId = tab.props.name
        const lastMsgId = this.msgs[groupId].at(-1)['message_id']
        this.lastMsgIds[groupId] = lastMsgId
        this.msgNew[groupId] = false
        this.scrollToBottom(groupId)
      },
      tabClickType(tab) {
        if (tab.props.name == 'plugin') {
          this.getPlugins()
          if (this.pluginsStore.length == 0) {
            this.getPluginsStore()
          }
        }
      },
      contentClick() {
        const tab = {props: {name: this.groupId}}
        this.tabClick(tab)
      },
      userAt(data) {
        if (! this.msg) {
          this.msg = ''
        }
        this.msg += `[CQ:at,qq=${data.qq},name=${data.name}] `
      },
      nameClick(sender) {
        const data = {
          qq: sender.user_id,
          name: `@${sender.nickname}`,
        }
        this.userAt(data)
      },
      getReply(msg_id) {
        let msg = '未查询到历史信息'
        for (let v of this.msgs[this.groupId]) {
          if (v['message_id'] == msg_id) {
            msg = `${v['sender']['nickname']}: ${v['raw_message']}`
            break
          }
        }
        this.$message({
          type: 'success',
          message: msg
        });
      },
      msgReply(msg) {
        const msg_id = msg['message_id']
        if (! this.msg) {
          this.msg = ''
        }
        this.msg += `[CQ:reply,id=${msg_id}] `
        this.nameClick(msg['sender'])
      },
      msgDelete(msg) {
        const msg_id = msg['message_id']
        const data = {
          action: 'delete_msg',
          message_id: msg_id,
        }
        this.postAction(data)
      },
      msgBan(msg) {
        this.msgDelete(msg)
        const data = {
          action: 'set_group_ban',
          group_id: parseInt(this.groupId),
          user_id: msg['sender']['user_id'],
        }
        this.postAction(data)
      },
      msgKick(msg) {
        this.msgDelete(msg)
        const data = {
          action: 'set_group_kick',
          group_id: parseInt(this.groupId),
          user_id: msg['sender']['user_id'],
        }
        this.postAction(data)
      },
    },
  };
  const app = Vue.createApp(App);
  app.config.globalProperties.$editor = null;
  for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
    app.component(key, component)
  }
  app.use(ElementPlus);
  app.mount("#app");
</script>

<style>
.el-divider__text.is-left {
  left: 0;
}
.el-divider__text {
  padding: 0;
}
.el-divider--horizontal {
  margin: 18px 0 12px 0;
}
.face {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}
.webqq-tabs {
  height: 555px;
}
.webqq-tabs .is-scrollable {
  padding: 0 !important;
}
.webqq-tabs .el-tabs__nav-scroll {
  overflow-y: auto !important; /* 允许滚动 */
}
.webqq-tabs .el-tabs__nav-prev {
  display: none;
}
.webqq-tabs .el-tabs__nav-next {
  display: none;
}
.is-icon-close {
  position: absolute;
  right: 0;
  display: none; /* 默认隐藏 */
  background: lightgray;
  border: 1px solid #ccc;
}
.el-tabs__item:hover .is-icon-close {
  display: block;
}
.el-dialog__body textarea {
  font-family: monospace;
  width: 100%;
  white-space: pre;
}
.CodeMirror {
  border: 1px solid #eee;
}

::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar:horizontal {
  height: 6px
}

::-webkit-scrollbar-track {
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background-color: #dddee0;
  border-radius: 10px;
  transition: all .2s ease-in-out
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #0000004d
}
</style>
